* {
  -ms-overflow-style: none;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: #F0F2F5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
